version: '3.9'

services:
  backend:
    build: ./backend
    container_name: money_backend
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
      - MONGO_URI=mongodb://mongo:27017/mern_money_app
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  frontend:
    build: ./frontend
    container_name: money_frontend
    ports:
      - "80"
    depends_on:
      - backend
    
  nginx:
    image: nginx:stable-alpine
    container_name: money_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - frontend
      - backend

volumes:
  mongo_data:
